@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div id="entry-box" class="rounded-6 sign-in-content">
    <p id="demo"></p>
    <fieldset style="display:block;">
        <h2>Acme Financial Public Content</h2>

            <p class="lead">This is Unprotected content page of Application</p>
            <p class="lead">Anonymous vistors can find out more about the company</p>
   
    </fieldset>


</div>
