
@{
    ViewData["Title"] = "Consent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="signin-box" class="rounded-6 sign-in-content">


    <div class="modal-body" id="mfamodalbody">
        <h1>Information and Consent Form</h1>
        <p>The Local laws in many states and countries provide safeguards to protect your privacy. Implementation of Privacy requirements officially began on April 14, 2014. Many of the policies have been our practice for years. This form is a “friendly” version. A more complete text is posted in the office. What this is all about: Specifically, there are rules and restrictions on who may see or be notified of your Protected Personal Information (PPI). These restrictions do not include the normal interchange of information necessary to provide you with office services. We balance these needs with our goal of providing you with quality professional service and care. Additional information is available from the U.S. Department of Health and Human Services. www.hhs.gov We have adopted the following policies:</p>
        <p>1. Patient information will be kept confidential except as is necessary to provide services or to ensure that all administrative matters related to your care are handled appropriately. This specifically includes the sharing of information with other healthcare providers, laboratories, health insurance payers as is necessary and appropriate for your care. Patient files may be stored in open file racks and will not contain any coding which identifies a patient’s condition or information which is not already a matter of public record. The normal course of providing care means that such records may be left, at least temporarily, in administrative areas such as the front office, examination room, etc. Those records will not be available to persons other than office staff . You agree to the normal procedures utilized within the office for the handling of reports, personal records, PPI and other documents or information.</p>
        <p>2. It is the policy of this office to remind patients of their appointments. We may do this by telephone, e-mail, U.S mail, or by any means convenient for the practice and/or as requested by you. We may send you other communications informing you of changes to office policy and new technology that you might find valuable or informative.</p>
        <p>3. The company utilizes a number of vendors in the conduct of business. These vendors may have access to PPI but must agree to abide by the confidentiality rules.</p>
        <p>4. You understand and agree to inspections of the office and review of documents which may include PPI by government agencies in normal performance of their duties.</p>
        <p>5. You agree to bring any concerns or complaints regarding privacy to the attention of the office manger.</p>
        <p>6. Your confidential information will not be used for the purposes of marketing or advertising of products, goods or services.</p>
        <p>7. We agree to provide patients with access to their records in accordance with state and federal laws.</p>
        <p>8. We may change, add, delete or modify any of these provisions to better serve the needs of the both the practice and the patient.</p>
        <p>9. You have the right to request restrictions in the use of your protected health information and to request change in certain policies used within the office concerning your PPI. However, we are not obligated to alter internal policies to conform to your request.</p>
    </div>


    <form action="~/Home/ConsentRoute" method="post" id="myConsent" class="v-form" autocomplete="off" style="border:none;">

        <fieldset style="display:block;">


            <h3>I hereby consent and
            acknowledge my agreement to the terms set forth in the PRIVACY and CONSENT INFORMATION FORM and any
            subsequent changes in office policy. I understand that this consent shall remain in force
            from this time forward.
            </h3>



            <div class="form-group">
                <input type="radio" id="accept" name="getConsent" value="Accept" />
                <label for="accept">Accept</label>
                <input type="radio" id="reject" name="getConsent" value="Reject" />
                <label for="reject">Reject</label>
                <input type="radio" id="cancel" name="getConsent" value="Cancel" />
                <label for="cancel">Cancel</label>
            </div>

            <input value="Submit" name="consent" type="submit" id="submit-button" class="button" tabindex="4">
        </fieldset>
     </form>
    <br>

</div>
