
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RequestApp</title>
</head>
<body>

    <h2>Requesting  Application</h2>

    <p>An email has been sent to the Business Owner for App approval</p>
    <p>Please allow 3 business days for approval</p>
    <p>You shall be notified via email of approval decision</p>
    <a href="/Home/Index" class="inline-block margin-l-10">Back to Application</a>

</body>
</html>
