
@{
    ViewData["Title"] = "PostRemoveDelegation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Remove Delegation </h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Your have Remove a  Delegate from your account</h2>
            @*<p>Please Check your email for Confirmation.</p>*@


            @*<form method="GET" action="/Home/Index">
                    <input type="submit" value="Return to Home Page">
                </form>*@


        </div>
    </div>
</div>

