
@{
    ViewData["Title"] = "PostLogin";
}

    <div id="entry-box" class="rounded-6 sign-in-content">
        <p id="demo"></p>
        <fieldset style="display:block;">
            <h2>Acme Financial Protected Content</h2>

                <p class="lead">This is protected content of Sample Application</p>
                <p class="lead">Available only after successful authentication</p>

        </fieldset>


    </div>

