
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>receiveIdpToken</title>
</head>
<body>

    <h3>here after idp token received</h3>
</body>
</html>
