
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Application Access Granted</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div>&nbsp;</div>
    <div class="panel panel-success col-md-8">
        <div>&nbsp;</div>
        <div class="panel panel-heading">
            <div class="panel-title">
                Your Application Request has been Approved.
            </div>
        </div>
        <div class="panel panel-body">
            <div>
                <p>Hi </p>
                <p>
                    Hello, @TempData["Name"]
                </p>
            </div>
            <div>
                <p>
                    The Business Owner has granted access to the application
                </p>

            </div>
            <div>&nbsp;</div>
            <div>
                Thank you!
            </div>
        </div>
    </div>
</body>
</html>
